<footer class="d-flex bg-dark py-3 mt-auto">
<div class="d-flex flex-column flex-sm-row mx-4">
    <span class="text-muted mr-2">&copy; Investments Maketh The Human | </span>
    <a href="/investments/new">Choose Who You Are</a>
</div>

</footer>