<footer class="d-flex bg-dark py-3 mt-auto">
<div class="mx-4"   >
    <span class="text-muted">&copy; Investments Maketh The Human | </span>
    <a href="/investments/new">Choose Who You Are</a>
</div>

</footer>