<% if(!pageName){var pageName = 'welcome'} %> 
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Investments</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavs">
      <div class="navbar-nav navbarMain" id="navDiv">
        <a   <% if(pageName == 'welcome'){%> class ="nav-link active" <%} else { %>class ="nav-link" <%}%>    href="/investments">Welcome</a>
        <a  <% if(pageName == 'home'){%> class ="nav-link active" <%} else { %>class ="nav-link" <%}%> href="/investments/home">Home</a>
        <a <% if(pageName == 'new'){%> class ="nav-link active" <%} else { %> class ="nav-link" <%}%> href="/investments/new">New</a>
      </div>


      <div class="navbar-nav ml-md-auto">
        <div class="btn-group-toggle btn-sm pl-0" data-toggle="buttons">
          <% if(updateTics == true){ %> 
          <label class="btn btn-dark bg-warning searching pt-1" id="autoUpdate">
            <input type="checkbox" autocomplete="off" >
          </label>
          <% } %> 
        </div>
        
        <% if(!currentUser){%> 
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %> 
            <a class="nav-link" href="/investments"><%= currentUser.username %> </a>
            <a class="nav-link" href="/logout">Logout</a>
            
            <% } %> 
        </div>
      </div>
      
    </div>
  
  </div>

</nav>

<%  
function classActive(linkName){
if(pageName == linkName){
  console.log(`${linkName} active`);
  return "nav-link active"          
} else{
  console.log(`${linkName} not active`);
  return "nav-link"
}
}
%>
