<% layout('layouts/boilerplate') %> 
<div class="row">
<h1 class="text-center mb-4">New Investment</h1>
<div class="col-6 offset-3 ">
    <form action="/new" method="POST" class="validate-form" novalidate>
        <div class="mb-4">
            <label for="currency" class="form-label">Crypto Currency</label>
            <input type="text" class="form-control text-muted" name="currency[symbol]" id="currency" value="BTC/USDT" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <label for="exchange" class="form-label mt-3">Exchange</label>
            <input type="text" class="form-control text-muted" name="currency[exchange]" id="exchange" value="binance" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <input type="hidden" name="currency[crypto]" id="crypto" value=true> 
            
            <div class="my-2">
                <button class="btn btn-success ">Add Currency</button>
            </div>
        </div>
        <!-- <div class="mb-3">
            <label for="stock" class="form-label">Company</label>
            <input type="text" class="form-control" name="stock[symbol]" id="stock">
            <div class="my-2">
            <button class="btn btn-success">Add Company</button>
        </div> -->
    </div>
        </form>

</div>

</div>

<Script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validate-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</Script>