<% layout('layouts/boilerplate') %> 
<div class="row">
  <div class="col-6 offset-3 mt-5">
    <div class="alert align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="alert-body">
          
          <h4 class="alert-heading"><%= err.message %> </h4> 
          <% if (process.env.NODE_ENV !== 'production') { %> 
          <p><%= err.stack %> </p>
          <% } %> 
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>

